<!-- adventure.handlebars -->
 <h1>Adventure</h1>
 {{!-- selected text depending on active donomon --}}
  
  {{!-- drop down to select active donomon --}}
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Choose active donomon
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {{#each profile.donomons}}
        <li><a class="dropdown-item" href="#" data-id="{{id}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </div>

{{#each questions}}
            {{!-- get questions from question-routes
            and all of the associated answers --}}
            <div class="question">
                <h2>{{this.question}}</h2>
                <div class="answers">
                    {{#each this.answers}}
                        <button class="answer" data-id="{{this.id}}">{{this.answer}}</button>
                    {{/each}}
                </div>
            </div>    
{{/each}}

<h1>World Chat</h1>
<pre id="messages" style="overflow: scroll"></pre>
<input type="text" id="messageBox" placeholder="Type your message here">
<button id="send" title="Send">Send Message</button>

<script src="./js/adventure.js"></script>