<div class='new character container text-center'>
    <div class='character'>
        <h2>create new character</h2>
        <form id='new-character' class='card-body'>
            <label class='form-character' for='type'>Donomon</label>
            <select name='type' id='type'>
                {{#each types}}
                    <option value='{{id}}'>{{name}}</option>
                {{/each}}
            </select>
            <button id='submit' type='submit' class='btn'>create</button>
        </form>
    </div>
</div>
<div class='character-party container text-center'>
    <h2>Your party</h2>
    {{#each donomons}}
        <div class='card'>
            <div class='card-body'>
                <img
                    src='/images/nodomon/{{donomontype.name}}.png'
                    alt='{{donomontype.name}}'
                />
            </div>
            <div class='card-body'>
                <h3>{{donomontype.name}}</h3>
                <p>{{donomontype.type}}</p>
                <p>Level: {{level}}</p>
                <p>Exp: {{exp}}</p>
                <p>Morality: {{morality}}</p>
                <button
                    class='btn deleteDonomon'
                    data-id='{{id}}'
                >delete</button>
            </div>
        </div>
    {{/each}}
</div>
<script src='/js/characters.js'></script>